h1 {
    margin-top: 8rem;
    color: red;
}

button {
    background-color: #333;
    color: white;
    border-width: 0.5rem;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
  }
  
  /* Add hover effect */
  button:hover {
    background-color: #444; /* slightly darker gray background on hover */
  }
  
  /* Add pressed effect */
  button:active {
    transform: translateY(2px); /* move button down on press */
  }

  .gameScreen {
    margin: 4rem auto 0 auto;
    max-width: 80vw;
  }